<!--Preconnect and DNS-Prefetch to improve page load time-->
<link rel="preconnect" href="//exchangesimondata.tt.omtrdc.net">
<link rel="dns-prefetch" href="//exchangesimondata.tt.omtrdc.net">
<!--/Preconnect and DNS-Prefetch-->
<!--Data Layer to enable rich data collection and targeting-->
<script>
    // var digitalData = {
    //     "page": {
    //         "pageInfo": {
    //             "pageName": "Home"
    //         }
    //     }
    // };
</script>
<!--/Data Layer-->
<!-- targetPageParams(), targetPageParamsAll(), Data Providers or targetGlobalSettings() functions to enrich the visitor profile or modify the library settings-->
<script>
    // targetPageParams = function() {
    //     return {
    //         "a": 1,
    //         "b": 2,
    //         "pageName": digitalData.page.pageInfo.pageName,
    //         "profile": {
    //             "age": 26,
    //             "country": {
    //                 "city": "San Francisco"
    //             }
    //         }
    //     };
    // };
</script>
<!--/targetPageParams()-->
<!--Target's JavaScript SDK, at.js-->
<script src="/theme/simon/js/at.js"></script>
<!--/at.js-->
